@using SqlSugar;
@using System.Data;
@{
    int pageSize = 15;
    ViewData["Title"] = "页面管理";
    Layout = "~/Views/Shared/_SDMLayout.cshtml";
}
<h2>页面管理</h2>
@if (ViewBag.IsConnected)
{
    <div class="container d-flex flex-row-reverse">
        <div class="btn-group">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Modal">新增</button>
            <button type="button" class="btn btn-secondary" onclick="entity.EnableEntities()">启用</button>
            <button type="button" class="btn btn-warning" onclick="entity.DisableEntities()">禁用</button>
            <button type="button" class="btn btn-danger" onclick="entity.DeleteEntities()">删除</button>
        </div>
    </div>
    <div class="table-responsive container">
        <table class="table table-bordered table-striped text-nowrap">
            <thead>
                <tr>
                    <th>
                        <input class="custom-checkbox" onchange="entity.CheckAllChange(this)" type="checkbox" />
                    </th>
                    @foreach (DbColumnInfo item in ViewBag.Head)
                    {
                        <th @(@item.IsPrimarykey ? "data-iskey" : "") data-DbColumnName="@item.DbColumnName">@(string.IsNullOrEmpty(item.ColumnDescription) ? item.DbColumnName : item.ColumnDescription)</th>
                    }
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                @foreach (DataRow row in ViewBag.Rows)
                {
                    <tr>
                        <th scope="row">
                            <input class="custom-checkbox row-checkbox" type="checkbox" />
                        </th>
                        @foreach (DbColumnInfo column in ViewBag.Head)
                        {
                            <th>@row[column.DbColumnName].ToString()</th>
                        }
                        <th><a href="@Url.Action("Index","Mrg")?tableName=@row["TableName"]">管理</a></th>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="container d-flex flex-row-reverse">
        <ul class="pagination">
            <li class="page-item"><input class="page-link text-muted goto-page" type="number" placeholder="页码" value="@ViewBag.CurrentPage" /></li>
            <li class="page-item @(ViewBag.CurrentPage == 1?"disabled":"")" title="首页"><a class="page-link" href="@Url.Action("Index")?pageNumber=1">&laquo;</a></li>
            <li class="page-item @(ViewBag.CurrentPage == 1?"disabled":"")" title="上一页"><a class="page-link" href="@Url.Action("Index")?pageNumber=@(ViewBag.CurrentPage>1?ViewBag.CurrentPage-1:1)">&lsaquo;</a></li>
            @for (int i = 5; i >= 1; i--)
            {
                int previou_page = ViewBag.CurrentPage - i;
                if (previou_page > 0)
                {
                    <li class="page-item" title="第(@previou_page)页"><a class="page-link" href="@Url.Action("Index")?pageNumber=@previou_page">@previou_page</a></li>
                }
                else
                {
                    continue;
                }
            }
            <li class="page-item active" title="当前页"><a class="page-link">@ViewBag.CurrentPage</a></li>
            @for (int i = 1; i <= 5; i++)
            {
                int next_page = ViewBag.CurrentPage + i;
                if (next_page * pageSize - ViewBag.TotalNumber < pageSize)
                {
                    <li class="page-item" title="第(@next_page)页"><a class="page-link" href="@Url.Action("Index")?pageNumber=@next_page">@next_page</a></li>
                }
                else
                {
                    continue;
                }
            }
            <li title="下一页" class="page-item @(ViewBag.TotalNumber<=ViewBag.CurrentPage * pageSize?"disabled":"")"><a class="page-link" href="@Url.Action("Index")?pageNumber=@(ViewBag.CurrentPage+1)">&rsaquo;</a></li>
            <li title="最后一页" class="page-item @(ViewBag.TotalNumber<=ViewBag.CurrentPage * pageSize?"disabled":"")"><a class="page-link" href="@Url.Action("Index")?pageNumber=@(ViewBag.TotalNumber%pageSize>0?Convert.ToInt32(ViewBag.TotalNumber/pageSize)+1:Convert.ToInt32(ViewBag.TotalNumber/pageSize))">&raquo;</a></li>
            <li class="page-item"><span class="text-muted total-page-number" style="display:block;position:relative;padding:0.5rem 0.75rem">共@(ViewBag.TotalNumber % pageSize > 0 ? Convert.ToInt32(ViewBag.TotalNumber / pageSize) + 1 : Convert.ToInt32(ViewBag.TotalNumber / pageSize))页@(ViewBag.TotalNumber)条数据</span></li>
        </ul>
    </div>
    <!-- 模态框 -->
    <div class="modal fade" id="Modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">新增页面</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">选择一张表</span>
                        </div>
                        <select class="form-control" id="tableName">
                            @foreach (var name in ViewBag.TableNames)
                            {
                                <option value="@name">@name</option>
                            }
                        </select>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">启禁用</span>
                        </div>
                        <select class="form-control" id="active">
                            <option value="1" selected>启用</option>
                            <option value="0">禁用</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" onclick="entity.addSingleEntity()" class="btn btn-primary">确定</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="alert alert-danger">
        <strong><a href="@Url.Action("Index","Home")">请先建立连接！</a></strong>
    </div>
}
@section Scripts{
    <script src="~/tjs/entity.js?v1.0"></script>
}
